
@{
    ViewBag.Title = "uber";
    Layout = null;
}

<h2>uber</h2>
<form action="\Home\uber" method="post">
    <input type="text" id="input" name="name" />    
    <input type="submit" value="submit form" />
</form>
<h2>@ViewBag.name</h2>
