@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<html>
<head></head>
<body>
    <form action="/login/signin" method="post">
        <input type="text" id="input1" name="input1" /><br />
        <input type="password" id="input2" name="input2" /><br />
        <input type="submit" />
    </form>
</body>
</html>